html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.2rem;
	border-bottom: 1px solid #74d4eb;
	flex: 0 0 0.88rem;
	background-color: #29bde0;
}

header a {
	width: 0.4rem;
	height: 0.4rem;
	background: url(../img/result.png) no-repeat;
	background-size: 3.5rem 2.84rem;
}

header .home-btn {
	background-position: 0 -0.4rem;
}

header .info-btn {
	background-position: 0 0;
}

header p {
	margin: 0;
	font-size: 0.34rem;
	color: #fff;
}

main {
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
	margin-bottom: 1.28rem;
	background-color: #29bde0;
}

main .victory {
	/*min-height: 2.04rem;*/
	margin-top: 0.25rem;
	padding: 0 0.7rem;
	flex: 0 0 2.04rem;
	background:url(../img/result.png) no-repeat;
	background-size: 3.5rem 2.84rem;
	background-position: center -0.8rem;
}

main .notice {
	padding: 0.2rem 0.7rem 0 0.7rem;
	font-size: 0.33rem;
	color: #ffc865;
}

main .result {
	padding: 0.6rem 0.7rem 0.25rem 0.7rem;
	font-size: 0.26rem;
	color: #fff;
}

.result ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

main .list {
	display: flex;
	flex-direction: row;
	align-content: space-around;
	flex-wrap: wrap;
	flex:0 0 1.68rem;
	padding: 0 0.7rem;
	border-top: 1px solid #ccc;
	background-color: #fff;
}

.list .order {
	flex-basis: 50%;
	font-size: 0.3rem;
}

.list .time {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	align-self: flex-end;
	flex-basis: 50%;
	font-size: 0.2rem;
	color: #c7c7c7;
}

.list .night, .list .day {
	font-size: 0.26rem;
	color: #a6a6a6;
} 

footer {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 1.28rem;
	padding: 0.2rem;
	background-color: rgba(41,189,224,0.48);
	/*opacity: 0.48;*/
}

footer .btn{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 2.7rem;
	height: 0.86rem;
	font-size: 0.4rem;
}