html {
	font-size: 62.5%;
}

body {
	margin: 0;
	background-color: #68cdd5;
}

.arrow-btn {
	margin-left: 5.5%;
	margin-top: 3%;
}

.arrow-btn img {
	max-width: 8.4%;
}

.body img {
	display: block;
	margin: 6.6% auto 0 auto;
	max-width: 28%;
}

.body p {
	margin: 18.75% 15.6% 0 15.6%;
	font-family: 'SimSun', 'Microsoft Yahei';
	font-size: 1.5rem;
	line-height: 2.7rem;
	color: #fff;
	text-align: center;
}

.footer {
	margin: 28% 0 0 0;
	width: auto;
}

.contact {
	width: 50%;
	float: left;
}

.contact img {
	display: block;
	margin: 0 auto;
	max-width: 26%;
}

.contact p {
	font-size: 1.5rem;
	color: #fff;
	text-align: center;
}

.company {
	width: 50%;
	float: right;
}

.company img {
	display: block;
	margin: 0 auto;
	max-width: 26%;
}

.company p {
	font-size: 1.5rem;
	color: #fff;
	text-align: center;
}