html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: auto;
  flex-shrink: 0;
  align-items: center;
  overflow: hidden;
  height: 0.88rem;
  padding: 0 0.2rem;
  background-color: #29bde0;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  flex-grow: 1;
  padding: 0 0.4rem;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: auto;
  flex-shrink: 0;
  align-items: center;
  height: 1rem;
  padding: 0.2rem;
  background-color: rgba(41, 189, 224, 0.48);
  /*opacity: 0.48;*/
}
