html {
  font-size: 625%;
}
body {
  margin: 0;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #5fc0cd;
  z-index: 100;
}
header .head {
  position: relative;
  height: 0.4rem;
}
header .back-btn {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -0.11rem;
  border: 0.11rem solid transparent;
  border-right: 0.11rem solid #fff;
}
header .back-btn:after {
  content: '';
  position: absolute;
  top: -0.09rem;
  left: -0.07rem;
  border: 0.09rem solid transparent;
  border-right: 0.09rem solid #5fc0cd;
}
header .title {
  margin: 0;
  padding: 0 0.3rem;
  font-size: 0.18rem;
  line-height: 0.4rem;
  text-align: center;
  color: #fff;
}
main {
  position: absolute;
  top: 0.4rem;
  bottom: 0.56rem;
  width: 100%;
  overflow-x: hidden;
}
main .per {
  position: relative;
  width: auto;
  height: 1.635rem;
  background-image: url(img/5-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
main .per-img {
  position: absolute;
  top: 50%;
  width: 0.845rem;
  height: 0.875rem;
  margin: -0.4375rem 0 0 0.15rem;
  background-image: url(img/5-3.png);
  background-size: 100% 100%;
}
main .per-info {
  position: absolute;
  top: 50%;
  left: 1.2rem;
  margin-top: -0.28rem;
}
main .name {
  margin: 0;
  margin-bottom: 0.05rem;
  font-size: 0.22rem;
  color: #fff;
}
main .position {
  margin: 0;
  padding-left: 0.3rem;
  font-size: 0.17rem;
  color: #fff;
  background-image: url(img/5-2.png);
  background-repeat: no-repeat;
  background-size: 0.12rem auto;
  background-position: 0 center;
}
main .per-skill .prof {
  margin: 0.15rem;
  padding-left: 0.15rem;
  border-left: 1px solid #5fc0cd;
  font-size: 0.22rem;
}
main .per-skill ul {
  margin-left: 0.15rem;
  margin-right: 0.15rem;
  padding: 0;
  font-size: 0;
  list-style-type: none;
}
main .per-skill ul li {
  position: relative;
  padding: 0.15rem 0 0.15rem 0;
  border-top: 1px solid #ccc;
  min-height: 0.22rem;
}
main .per-skill ul li .per-tag {
  display: inline-block;
  margin-left: 0.15rem;
  padding-left: 0.2rem;
  padding-right: 0.15rem;
  font-size: 0.17rem;
  line-height: 0.22rem;
  background: url(img/5-4.png) no-repeat left;
  background-size: 0.16rem 0.16rem;
}
main .per-skill ul li .per-tag:first-child {
  border-right: 1px solid #ccc;
}
main .per-skill ul li .per-label {
  display: inline-block;
  padding-left: 0.16rem;
  padding-right: 0.15rem;
  font-size: 0.17rem;
  line-height: 0.22rem;
}
main .per-skill ul li .per-label:nth-child(odd) {
  border-right: 1px solid #ccc;
  color: #ccc;
}
main .per-skill ul li .per-label:nth-child(even) {
  color: #e26163;
}
main .per-skill ul li .per-label-1 {
  position: absolute;
  top: 50%;
  left: 0.16rem;
  margin-top: -0.11rem;
  font-size: 0.17rem;
  line-height: 0.22rem;
  padding-right: 0.15rem;
  border-right: 1px solid #ccc;
  color: #ccc;
}
main .per-skill ul li .per-label-2 {
  margin-left: 1.15rem;
}
main .per-skill ul li .per-label-2 p {
  margin: 0;
  font-size: 0.17rem;
  line-height: 0.22rem;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}
footer a {
  width: 42%;
  padding: 0.06rem;
  font-size: 0.18rem;
  line-height: 0.26rem;
  border: 1px solid #5fc0cd;
  border-radius: 0.05rem;
  text-align: center;
  text-decoration: none;
}
footer .message {
  margin: 0.08rem 0 0.08rem 0.08rem;
  float: left;
  color: #5fc0cd;
}
footer .telconnect {
  margin: 0.08rem 0.08rem 0.08rem 0;
  float: right;
  background-color: #5fc0cd;
  color: #fff;
}
